<div class="container-fulid">
	<div class="homeimage">
		<div class="home-content">
			<p>
				Forkly
				Share Tastes &
				Discover New Ones
			</p>
			<p class="semi-home-content">
				The pleasure of variety on your plate.
			</p>
		</div>
	</div>
</div>
